---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post.author -%}{{- _post.author }} | {% endif %}
			{{- _post.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}


	<!-- search -->
	<!--<div class="post-search_area"></div>
	<input id="post-search-word"/>

	<input name="post-search-start-date" id="post-search-start-date" type="date">
	~
	<input id="post-search-end_date" name="post-search-end_date" type="date">
	<button id="search-btn" onclick="search()">검색</button>
	<script>
		window.onload=function() {
			const params = new URLSearchParams(location.search)
			document.getElementById("post-search-word").value=params.get("word")
			document.getElementById("post-search-start-date").value=params.get("start")
			document.getElementById("post-search-end_date").value=params.get("end")
		}
		function search(){
			let word = document.getElementById('post-search-word').value
			let start = document.getElementById('post-search-start-date').value
			let end = document.getElementById('post-search-end_date').value

			location.href=window.location.pathname+"?word="+word+"&start="+start+"&end="+end
		}
	</script>-->


</div>